<meta name="viewport" content="width=device-width">
<div class="form button group">
    <button type="button" id="one">Register</button>
    <button type="button" id="two">Login</button>
</div>
<!--registration-->
<form action="#" method="post" id="registration">
    <div>
        <p>
            <input type="text" name="FirstName" id="FirstName" placeholder="Enter your First Name">
        </p>
        <p>
            <input type="text" name="LastName" id="LastName" placeholder="Enter your Last Name">
        </p>
        <p>
            <input type="text" name="UserName" id="UserName" placeholder="Enter your User Name">
        </p>
        <p>
            <input type="text" name="TeamName" id="TeamName" placeholder="Team Name">
        </p>
        <p>
            <input type="email" name="EmailAddress" id="EmailAddress" placeholder="Enter your E-mail Address">
        </p>
        <p>
            <input type="password" name="password" id="password" placeholder="Enter your Password">
        </p>
        <p>
            <input type="password" name="confirm_password" id="con_password" placeholder="Confirm your Password">
        </p>
    </div>
    </form>
    <form action="#" method="post" id="teamregistration">    
            <p>
                <input type="text" name="Address1" id="Address1" placeholder="Address 1">
            </p>
            <p>
                <input type="text" name="Address2" id="Address2" placeholder="Address 2">
            </p>
            <p>
                <input type="text" name="Address2" id="Address3" placeholder="Address 3">
            </p>
            <p>
                <input type="text" name="City" id="City" placeholder="City">
            </p>
            <p>
                <input type="text" name="State" id="State" placeholder="State">
            </p>
            <p>
                <input type="text" name="PostCode" id="PostCode" placeholder="Zip Code">
            </p>
            <p>
                <input type="text" name="Telephone" id="Telephone" placeholder="Phone">
            </p>
        <input type="submit" name="submit" id="submit" value="Register">
    </form>


<!--login-->
<form action="#" method="post" id="login">
    <p>
        <input type="text" name="username" id="username" placeholder="Enter your User Name">
    </p>
    <p>
        <input type="password" name="password" id="password" placeholder="Enter your Password">
    </p>
    <input type="submit" name="log_in" id="log_in" value="Login">
</form>


<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
