<div id="team">
    <div class="container">
        <div class="title">Your Team</div>
        <table class="table table-bordered">
            <thead class="dashhead">
                <tr>
                    <th>Name</th>
                    <th>Previous Order</th>
                    <th>Favorite Order</th>
                </tr>
            </thead>
            <tbody ng-repeat="user in users">
                <tr>
                    <td>{{user.FirstName}} {{user.LastName}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                </tr>
            </tbody>
        </table>
            <a ui-sref="inviteMember" class="btn btn-lg btn-default" id="inviteMemberButton">Invite New Team Member</a>
    </div>
</div>  

