﻿    <ul class="nav nav-tabs" id="dashnav" style="padding-left: 17%;">
        <li><a ng-href="#/app/dashboard" class="default" id="applogo">Food Ninja</a></li>
        <li role="presentation"><a ng-href="#/app/dashboard" class="btn btn-lg">Home</a></li>
        <li role="presentation"><a ng-href="#/app/team" class="btn btn-lg">Team</a></li>
        <li role="presentation"><a ng-href="#/app/createorder" class="btn btn-lg">New Order</a></li>
        <li role="presentation"><a ng-href="#/app/currentorders" class="btn btn-lg">Current Orders</a></li>
        <li role="presentation"><a ng-href="#/app/pastorders" class="btn btn-lg">Past Orders</a></li>
    </ul>

<div ui-view></div>
