<meta name="viewport" content="width=device-width">
<div class="form button group">
    <button type="button" id="one">Register</button>
   
    <button type="button" id="two">Login</button>

</div>
<!--registration-->
<form id="registration">
    <div>
        <p>
            <input type="text" name="FirstName" id="FirstName" placeholder="First Name" ng-model="registration.FirstName">
        </p>
        <p>
            <input type="text" name="LastName" id="LastName" placeholder="Last Name" ng-model="registration.LastName">
        </p>
        <p>
            <input type="text" name="TeamName" id="TeamName" placeholder="Team Name" ng-model="registration.TeamName">
        </p>
        <p>
            <input type="email" name="EmailAddress" id="EmailAddress" placeholder="E-mail Address" ng-model="registration.EmailAddress">
        </p>
        <p>
            <input type="password" name="password" id="password" placeholder="Password" ng-model="registration.Password">
        </p>
        <p>
            <input type="password" name="confirm_password" id="con_password" placeholder="Confirm Password" ng-model="registration.ConfirmPassword">
        </p>
    </div>
</form>
<form id="teamregistration">
    <p>
        <input type="text" name="Address1" id="Address1" placeholder="Address 1" ng-model="registration.Address1">
    </p>
    <p>
        <input type="text" name="Address2" id="Address2" placeholder="Address 2" ng-model="registration.Address2">
    </p>
    <p>
        <input type="text" name="City" id="City" placeholder="City" ng-model="registration.City">
    </p>
    <p>
        <input type="text" name="State" id="State" placeholder="State" ng-model="registration.State">
    </p>
    <p>
        <input type="text" name="PostCode" id="PostCode" placeholder="Zip Code" ng-model="registration.PostCode">
    </p>
    <p>
        <input type="text" name="Telephone" id="Telephone" placeholder="Phone" ng-model="registraion.Telephone">
    </p>
    <input type="submit" name="submit" id="submit" ng-click="register()" value="Register">
</form>


<!--login-->
<form id="login">
    <p>
        <input type="text" name="username" id="username" ng-model="loginData.username" placeholder="Enter your Email Address">
    </p>
    <p>
        <input type="password" name="password" id="password" ng-model="loginData.password" placeholder="Enter your Password">
    </p>
    <input type="submit" name="log_in" id="log_in" ng-click="login()" value="Login">
</form>

