<div id="dashboard">
    <div class="container" id="dashteamtable">
        <h2>Your Team</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Previous Order</th>
                    <th>Favorite Order</th>
                </tr>
            </thead>
            <tbody ng-repeat="user in users">
                <tr>
                    <td>{{user.FirstName}} {{user.LastName}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container" id="dashcurrentorders">
        <h2>Current Orders</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Restaurant</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="container" id="dashpreviousorders">
        <h2>Recent Orders</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Restaurant</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>