<div id="createOrder">
        <div id="createOrderDropDown">
            <p id="createOrderText">Where would you like to eat today?</p>

            <p>
                <select id="RestaurantDropDown">
                    <option value="mcdonalds">McDonalds</option>
                    <option value="pizzahut">Pizza Hut</option>
                    <option value="tacobell">Taco Bell</option>
                    <option value="burgerking">Burger King</option>
                    <option value="santanas">Santana's</option>
                    <option value="luchalibre">Lucha Libre Taco Shop</option>
                    <option value="hodads">Hodad's</option>
                </select>
            </p>
        </div>

    <div class="container">
        <a ui-sref="createOrder" class="btn btn-lg btn-default" id="createOrderButton">Create New Order</a>
    </div>

</div>  
