/*******************************
            ALL
*******************************/
body {

}

tbody {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}

#dashnav {
    margin-bottom: 50px;
    margin-top: 20px;
}













/*******************************
         DASHBOARD
*******************************/

#dashboard h2 {
    color: #fff;
}

.container th {
    color: #fff;
}

.title{
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 38px;
  font-weight: 400;
  color: #fff;
}

.dashhead {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}

#dashteamtable {
    max-width: 925px;
    margin-right: 49%;
    margin-top: 2%;
}

#dashcurrentorders {
    float: right;
    margin-top: -6.3%;
    max-width: 600px;
    margin-right: 8%;
}

#dashpreviousorders {
    float: right;
    margin-top: 6.5%;
    max-width: 600px;
    margin-right: 8%;
}

#dashcurrentorders #dashteamtable {
    display: inline-block;  
}













/*******************************
            TEAM
*******************************/

#team {
    position: center;
    margin: auto;
}













/*******************************
            ORDERS
*******************************/

#createOrderButton {
    background-color: #fff; 
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 1em;
    margin-left: 24em;
    border-radius: 20px; 
}

#createOrderButton:hover {
    background-color: #484848;
    transition-duration: 0.4s;
}

#RestaurantDropDown {
    font-size: 26px;
    color: #000;
}

#createOrderDropDown {
    color: #fff;
    position: center;
    margin-left: 72em;
}

#createOrder {
    position: center;
}
#createOrderText {

}