body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../img/office lunch.jpg')no-repeat center center scroll;
    background-size: cover;
    /*-webkit-filter: grayscale(35%);*/
}
.navbar {
    height: 75px;
}

#marketingnav {
    margin-left: 30%;
}

    #marketingnav li {
        font-size: x-large;
    }

#logo {
    font-family: Turtles;
    font-size: 60px;
    margin-top: 6px;
}

#marketingnav a {
    margin-top: 12px;
}

.headline {
    padding: 75px 0;
    height: 730px;
}

    .headline h1 {
        color: #333333;
        font-size: 100px;
        text-shadow: 4px 4px #fff;
        font-family: Impact;
        margin-top: 5px;
        background:rgba(255,255,255,0.5);
    }

    .headline h2 {
        font-size: 50px;
        text-shadow: 4px 4px #fff;
        font-family: Impact;
        color: #333333;
        background:rgba(255,255,255,0.6);
    }

#bannertext {
    margin: 10% auto 0 auto;
}

.no-padding {
    padding: 0;
}

#bannertext h2 {
    margin-top: 10px;
}

.featurette-divider {
    margin: 80px 0;
}

#divider {
    margin-top: 2%;
    margin-bottom: 3%;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

#teamimg {
    height: 350px;
    width: 400px;
}

#restaurantimg {
    height: 350px;
    width: 400px;
}


#teamimg, #infographic, #restaurantimg {
    border-radius: 25%;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}

.lead {
    color: #fff;
}


@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}



@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

        .featurette-image.pull-left {
            margin-right: 10px;
        }

        .featurette-image.pull-right {
            margin-left: 10px;
        }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

        .headline h1 {
            font-size: 60px;
        }

        .headline h2 {
            font-size: 30px;
        }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

        .featurette-image.pull-left {
            margin-right: 0;
            margin-bottom: 10px;
        }

        .featurette-image.pull-right {
            margin-bottom: 10px;
            margin-left: 0;
        }
}
